In [1]:
import sqlite3

connection = sqlite3.connect("db.db")
cursor = connection.cursor()

with open("schema.sql", "r", encoding="utf-8") as file:
    sql_script = file.read()

cursor.executescript(sql_script)
connection.commit()
connection.close()

In [2]:
import pandas as pd
import sqlite3


table_names = [
    "INV_V_ITM_MOVMNT_AI",
    "GLS_PST_AI_VW",
    "GNR_EMP_AI_VW",
    "PURCHS_BILL_MST_AI_VW",
    "PURCHS_BILL_DTL_AI_VW",
    "SALES_BILL_MST_AI_VW",
    "SALES_BILL_DTL_AI_VW",
    "SALES_RT_BILL_MST_AI_VW",
    "SALES_RT_BILL_DTL_AI_VW",
    "MRP_WORK_ORDER_AI_VW",
]

conn = sqlite3.connect("db.db")

for table in table_names:
    try:
        df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
        df.to_parquet(f"data/{table}.parquet", compression="snappy", index=False)
        print(f"Exported {table} to data/{table}.parquet")
    except Exception as e:
        print(f"Error exporting {table}: {e}")

conn.close()

Exported INV_V_ITM_MOVMNT_AI to data/INV_V_ITM_MOVMNT_AI.parquet
Exported GLS_PST_AI_VW to data/GLS_PST_AI_VW.parquet
Exported GNR_EMP_AI_VW to data/GNR_EMP_AI_VW.parquet
Exported PURCHS_BILL_MST_AI_VW to data/PURCHS_BILL_MST_AI_VW.parquet
Exported PURCHS_BILL_DTL_AI_VW to data/PURCHS_BILL_DTL_AI_VW.parquet
Exported SALES_BILL_MST_AI_VW to data/SALES_BILL_MST_AI_VW.parquet
Exported SALES_BILL_DTL_AI_VW to data/SALES_BILL_DTL_AI_VW.parquet
Exported SALES_RT_BILL_MST_AI_VW to data/SALES_RT_BILL_MST_AI_VW.parquet
Exported SALES_RT_BILL_DTL_AI_VW to data/SALES_RT_BILL_DTL_AI_VW.parquet
Exported MRP_WORK_ORDER_AI_VW to data/MRP_WORK_ORDER_AI_VW.parquet